/*当前页面的全局样式*/
.product-body .color-red {
    color : #FE5823;
}

.product-body .color-blue {
    color : #516994;
}

.product-body .color-trans {
    color : transparent;
}

.product-body {
    color : #1C1C1C;
}

/* 产品-头部 start */
.product-header {
    padding-top        : 160px;
    height             : 700px;
    text-align         : center;
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : center;
    background         : url(../img/product/product-header-bg.png) #F9F9F9 no-repeat center;
    -webkit-transition : all .4s ease;
    transition         : all .4s ease;
}

.product-header .header-title {
    color : #FFFFFF;
}

.product-header .sub-title {
    color      : #CBE6FF;
    margin-top : 10px;
}

.product-header .header-tag-wrapper {
    position       : relative;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    /*justify-content : center;*/
    margin-top     : 85px;
    margin-bottom  : 100px;
    width          : 50%;
    min-width      : 317px;
    /*background-color : black;*/
}

.product-header .header-tag-wrapper div {
    width : 116px;
}

.product-header .header-tag-wrapper div img {
    width              : 65%;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.product-header .header-tag-wrapper div p {
    margin-top : 10px;
    color      : #FFFFFF;
}

.product-header .header-tag-wrapper .tag-left {
    position : absolute;
    left     : 0;
    top      : 0;
}

.product-header .header-tag-wrapper .tag-right {
    position : absolute;
    right    : 0;
    top      : 0;
}

@media (min-width : 1365px) {
    .product-header {
        background-size : 100% 100%;
    }

    .product-header .header-title {
        font-size : 48px;
    }

    .product-header .header-tag-wrapper {
        width : 36%;
    }
}

@media (max-width : 1365px) {

    .product-header .header-title {
        font-size : 40px;
    }

}

@media (max-width : 768px) {
    .product-header {
        height      : 400px;
        padding-top : 90px;
    }

    .product-header .header-title {
        font-size : 32px;
    }

    .product-header .header-tag-wrapper {
        margin-top : 50px;
    }

}

@media (max-width : 460px) {

    .product-header .header-title {
        font-size : 24px;
    }

    .product-header .header-tag-wrapper div img {
        width : 45%;
    }
}

/* 产品-头部 end */

/* 产品-简介 start */
.product-intro {
    position        : relative;
    padding-top     : 80px;
    text-align      : center;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
}

.product-intro .intro-title {
    transform  : translateY(200%);
    opacity    : 0;
    transition : all .8s ease;
}

.animate .intro-title {
    transform : translateY(0);
    opacity   : 1;
}

.product-intro .intro-wrapper {
    position           : relative;
    margin-top         : 60px;
    margin-bottom      : 100px;
    width              : 870px;
    height             : 354px;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.product-intro .intro-wrapper img {
    position : relative;
}

.product-intro .intro-wrapper .intro-box-right {
    float      : right;
    width      : 12%;
    height     : 100%;
    opacity    : 0;
    margin-top : 10%;
    transition : all .8s ease;
}

.animate .intro-wrapper .intro-box-right {
    border-radius    : 2%;
    opacity          : 1;
    margin-top       : 0;
    transition-delay : 1.2s;
}

.product-intro .intro-wrapper .inner-wrapper {
    /*background-color : #00A2D4;*/
    float  : left;
    /*position : absolute;*/
    bottom : 0;
    left   : 0;
    right  : 21%;
    top    : 29%;
}

.product-intro .intro-wrapper .intro-box-center1 {
    position   : absolute;
    top        : 15%;
    right      : 13%;
    width      : 12%;
    height     : 73%;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .intro-wrapper .intro-box-center1 {
    opacity          : 1;
    top              : 0;
    transition-delay : 1s;
}

.product-intro .intro-wrapper .intro-box-center2 {
    position   : absolute;
    right      : 26%;
    width      : 12%;
    height     : 73%;
    top        : 15%;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .intro-wrapper .intro-box-center2 {
    opacity          : 1;
    top              : 0;
    transition-delay : .8s;
}

.product-intro .intro-wrapper .intro-box-center3 {
    position   : absolute;
    right      : 39%;
    width      : 40%;
    height     : 73%;
    top        : 15%;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .intro-wrapper .intro-box-center3 {
    opacity          : 1;
    top              : 0;
    transition-delay : .6s;
}

.product-intro .intro-wrapper .intro-wrapper-leftBox {
    position        : absolute;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    left            : 0;
    top             : 0;
    width           : 20%;
    height          : 73%;
}

.product-intro .intro-wrapper .intro-wrapper-leftBox .intro-box-left-top {
    position   : absolute;
    width      : 100%;
    top        : 25%;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .intro-wrapper .intro-wrapper-leftBox .intro-box-left-top {
    top              : 0;
    left             : 0;
    opacity          : 1;
    transition-delay : .4s;
}

.product-intro .intro-wrapper .intro-wrapper-leftBox .intro-box-left-center {
    width      : 100%;
    margin-top : 75%;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .intro-wrapper .intro-wrapper-leftBox .intro-box-left-center {
    margin-top       : 0%;
    opacity          : 1;
    transition-delay : .6s;
}

.product-intro .intro-wrapper .intro-wrapper-leftBox .intro-box-left-bottom {
    position   : absolute;
    width      : 100%;
    bottom     : -25%;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .intro-wrapper .intro-wrapper-leftBox .intro-box-left-bottom {
    bottom           : 0;
    left             : 0;
    opacity          : 1;
    transition-delay : .8s;
}

.product-intro .intro-wrapper .intro-box-bottom {
    position   : absolute;
    left       : 0;
    height     : 24.5%;
    width      : 87%;
    bottom     : -15%;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .intro-wrapper .intro-box-bottom {
    opacity          : 1;
    bottom           : 0;
    transition-delay : 1s;
}

@media (max-width : 1365px) {
    .product-intro .intro-wrapper {
        width  : 620px;
        height : 252px;
    }
}

@media (max-width : 768px) {
    .product-intro .intro-title {
        width : 300px;
    }

    .product-intro .intro-wrapper {
        width         : 420px;
        height        : 171px;
        margin-top    : 50px;
        margin-bottom : 50px;
    }
}

@media (max-width : 460px) {
    .product-intro .intro-wrapper {
        width  : 290px;
        height : 118px;
    }
}

/* 产品-简介 end */

/* 产品-移动报销平台 start */
.product-platform {
    padding-top     : 80px;
    text-align      : center;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    height          : auto;
    background      : url(../img/product/product-platform-bg.png) #F9F9F9 no-repeat center;
    background-size : 100% 100%;
}

.product-platform .platform-wrapper {
    position   : relative;
    width      : 900px;
    transition : all .4s ease;
}

.product-platform .platform-wrapper .platform-title {
    transform  : translateY(300%);
    opacity    : 0;
    text-align : left;
    width      : 100%;
    transition : all .8s ease;
}

.animate .platform-wrapper .platform-title {
    transform : translateY(0);
    opacity   : 1;
}

.product-platform .platform-wrapper .sub-title {
    transform  : translateY(400%);
    margin-top : 25px;
    text-align : left;
    opacity    : 0;
    width      : 100%;
    transition : all .8s ease;
}

.animate .platform-wrapper .sub-title {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : 0.2s;
}

.product-platform .platform-wrapper .inner-wrapper {
    position        : relative;
    margin-top      : 30px;
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
}

.product-platform .platform-wrapper .inner-wrapper .arrow-right {
    position   : absolute;
    top        : 66%;
    left       : 0%;
    width      : 9%;
    opacity    : 0;
    transition : all .4s ease;
}

.animate .platform-wrapper .inner-wrapper .arrow-right {
    opacity          : 1;
    left             : 27%;
    transition-delay : 1.6s;
}

.product-platform .platform-wrapper .inner-wrapper .arrow-left {
    position   : absolute;
    top        : 66%;
    right      : 0%;
    width      : 9%;
    opacity    : 0;
    transition : all .4s ease;
}

.animate .platform-wrapper .inner-wrapper .arrow-left {
    opacity          : 1;
    right            : 27%;
    transition-delay : 1.6s;
}

.product-platform .platform-wrapper .inner-wrapper .column {
    width    : 25%;
    overflow : hidden;
}

.product-platform .platform-wrapper .inner-wrapper .column .tag-box {
    width          : 100%;
    height         : auto;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    opacity        : 0;
    transition     : all .8s ease;
    margin-top     : 30%;
}

.animate #platform-animate-tag-left {
    opacity          : 1;
    margin-top       : 0;
    transition-delay : 0.4s;
}

.product-platform .platform-wrapper .inner-wrapper .column #platform-animate-tag-center {
    margin-top : 0;
    transform  : translateY(100%);
}

.animate .platform-wrapper .inner-wrapper .column #platform-animate-tag-center {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : 2s;
}

.animate #platform-animate-tag-right {
    opacity          : 1;
    margin-top       : 0;
    transition-delay : 0.6s;
}

.animate #platform-animate-phone-left {
    padding-top              : 0;
    opacity                  : 1;
    transition-delay         : 0.6s;
    -webkit-transition-delay : 0.6s;
}

.animate #platform-animate-phone-right {
    padding-top              : 0;
    opacity                  : 1;
    transition-delay         : 0.8s;
    -webkit-transition-delay : 0.8s;
}

.product-platform .platform-wrapper .inner-wrapper .column .tag-box p {
    white-space : nowrap;
}

.product-platform .platform-wrapper .inner-wrapper .column .tag-box .tag-title {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    /*margin         : 10px 0;*/
    margin-bottom  : 10px;
}

.product-platform .platform-wrapper .inner-wrapper .column .platform-phone {
    margin-top  : 60px;
    padding-top : 60px;
    width       : 100%;
    opacity     : 0;
    transition  : all .8s ease;
}

.product-platform .platform-wrapper .inner-wrapper .column #platform-animate-phone-center {
    margin-top  : 60px;
    padding-top : 0;
    opacity     : 1;
    width       : 100%;
    transform   : translateY(100%);
}

.animate .platform-wrapper .inner-wrapper .column #platform-animate-phone-center {
    transform        : translateY(0);
    transition-delay : 2.2s;
}

.product-platform .platform-wrapper .inner-wrapper .column .tag-box .tag-title span {
    margin-left : 3px;
    font-weight : 300;
}

.product-platform .platform-wrapper .inner-wrapper .column-left {
    position : absolute;
    left     : 0;
    top      : 0;
}

.product-platform .platform-wrapper .inner-wrapper .column-right {
    position : absolute;
    right    : 0;
    top      : 0;
}

@media (max-width : 1365px) {
    .product-platform .platform-wrapper {
        width : 600px;
    }
}

@media (max-width : 768px) {

    .product-platform .sub-title {
        margin-top : 10px;
    }

    .product-platform .platform-wrapper {
        width : 420px;
    }

    .product-platform .platform-wrapper .inner-wrapper {
        margin-top : 18px;
    }

    .product-platform .platform-wrapper .inner-wrapper .column #platform-animate-phone-center,
    .product-platform .platform-wrapper .inner-wrapper .column .platform-phone {
        margin-top : 0;
    }

    .product-platform .platform-wrapper .inner-wrapper .column .tag-box p {
        display : none;
    }

    .product-platform .platform-wrapper .inner-wrapper .column .tag-box .tag-title {
        margin-bottom : 25px;
    }

}

@media (max-width : 460px) {
    .product-platform .platform-wrapper {
        width : 290px;
    }

    .product-platform .platform-wrapper .inner-wrapper .column .tag-box .tag-title {
        margin-bottom : 35px;
    }

    .product-platform .platform-wrapper .inner-wrapper .column .tag-box .tag-title img {
        width : 25px;
    }
}

/* 产品-移动报销平台 end */

/* 产品-审批流程 start */
.product-flow {
    padding-top        : 80px;
    text-align         : center;
    overflow           : hidden;
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : center;
    height             : auto;
    background         : url(../img/product/product-flow-bg.png) #F9F9F9 no-repeat;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.product-flow .flow-title {
    transform  : translateY(300%);
    opacity    : 0;
    transition : all .8s ease;
}

.animate .flow-title {
    transform : translateY(0);
    opacity   : 1;
}

.product-flow .sub-title {
    opacity    : 0;
    margin-top : 25px;
    transform  : translateY(400%);
    transition : all .8s ease;
}

.animate .sub-title {
    opacity          : 1;
    transform        : translateY(0);
    transition-delay : 0.2s;
}

.product-flow .box-wrapper {
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : flex-start;
    height          : auto;
    margin-top      : 60px;
    position        : relative;
    width           : 900px;
    transition      : all .8s ease;
}

.product-flow .box-wrapper .screenshot {
    transform  : translateY(100%);
    width      : 57%;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .box-wrapper .screenshot {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : 0.4s;
}

.product-flow .box-wrapper .flow-box {
    width  : 45%;
    height : 100%;
}

.product-flow .box-wrapper .flow-box .img-wrapper {
}

.product-flow .box-wrapper .flow-box .img-wrapper img {
    box-sizing         : content-box;
    padding            : 10% 0 10% 10%;
    margin-left        : 30%;
    opacity            : 0;
    width              : 88%;
    -webkit-transition : all .4s ease;
    transition         : all .4s ease;
}

.animate .box-wrapper .flow-box .img-wrapper img {
    margin-left              : 0;
    opacity                  : 1;
    transition-delay         : 0.6s;
    -webkit-transition-delay : 0.6s;
}

.product-flow .box-wrapper .flow-box .img-wrapper:last-child img {
    transition-delay         : 0.8s;
    -webkit-transition-delay : 0.8s;
}

@media (min-width : 1365px) {
    .product-flow .box-wrapper .flow-box .img-wrapper img {
        width : 76%;
    }
}

@media (max-width : 1365px) {
    .product-flow .box-wrapper {
        width : 600px;
    }
}

@media (max-width : 768px) {

    .product-flow .sub-title {
        width      : 320px;
        margin-top : 10px;
    }

    .product-flow .box-wrapper {
        flex-direction : column;
        width          : 420px;
        margin-top     : 50px;
    }

    .product-flow .box-wrapper .screenshot {
        overflow    : hidden;
        flex-shrink : 0;
        width       : 100%;
        max-height  : 320px;
    }

    .product-flow .box-wrapper .flow-box .img-wrapper {
        width : 50%;
    }

    .product-flow .box-wrapper .flow-box .img-wrapper img {
        padding : 25px 10px 10px 4px;
        width   : 95%;
    }

    /*.product-flow .box-wrapper .flow-box .img-wrapper:last-child img {*/
    /*margin-left : -5px;*/
    /*}*/
    .product-flow .box-wrapper .flow-box {
        width          : 100%;
        margin-bottom  : 25px;
        display        : flex;
        flex-direction : row;
        justify-items  : center;
    }
}

@media (max-width : 460px) {

    .product-flow .sub-title {
        width : 290px;
    }

    .product-flow .box-wrapper {
        flex-direction : column;
        width          : 290px;
        margin-top     : 25px;
    }
}

/* 产品-审批流程 end */
/* 产品-费用控制 start */
.product-control {
    padding-top     : 80px;
    text-align      : center;
    display         : flex;
    overflow        : hidden;
    flex-direction  : column;
    align-items     : center;
    height          : auto;
    background      : url(../img/product/product-control-bg.png) #F9F9F9 no-repeat center;
    background-size : 100% 100%;
    transition      : all .4s ease;
}

.product-control .control-title {
    transform  : translateY(300%);
    opacity    : 0;
    transition : all .8s ease;
}

.animate .control-title {
    transform : translateY(0);
    opacity   : 1;
}

.product-control .sub-title {
    transform  : translateY(300%);
    margin-top : 25px;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .sub-title {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : 0.3s;
}

.product-control .control-sub-title-wrapper {
    transform  : translateY(400%);
    opacity    : 0;
    margin-top : 25px;
    transition : all .8s ease;
}

.animate .control-sub-title-wrapper {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : 0.6s;
}

.product-control .control-sub-title-wrapper .control-sub-title {
    display      : inline-block;
    margin-right : 10px;
}

.product-control .control-sub-title-wrapper .control-sub-title img {
    margin : 0 6px;
}

.product-control .panel-wrapper {
    transform        : translateY(60%);
    position         : relative;
    width            : 900px;
    height           : 100%;
    margin-top       : 60px;
    margin-bottom    : 60px;
    transform-origin : bottom;
    opacity          : 0;
    /*transform          : rotate(180deg);*/
    transition       : all 1s ease;
}

/*.animate .panel-wrapper {*/
/*transform                : rotate(0deg);*/
/*opacity                  : 1;*/
/*transition-delay         : 0.6s;*/
/*-webkit-transition-delay : 0.6s;*/
/*}*/
.animate .panel-wrapper {
    /*position         : relative;*/
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : .9s;
}

.product-control .panel-wrapper .circle-panel-wrapper {
    width : 100%;
}

.product-control .panel-wrapper .circle-panel-wrapper .circle-panel {
    width : 100%;
}

.product-control .panel-wrapper .circle-panel-wrapper .value-wrapper {
    position           : absolute;
    top                : 40%;
    width              : 100%;
    opacity            : 0;
    -webkit-transition : all 0.4s ease;
    transition         : all 0.4s ease;
}

.animate .panel-wrapper .circle-panel-wrapper .value-wrapper {
    top              : 30%;
    opacity          : 1;
    transition-delay : 2.2s;
}

.product-control .panel-wrapper .circle-panel-wrapper .value-wrapper .panel-value {
    width : 18%;
}

.product-control .panel-wrapper .circle-panel-wrapper .modal-wrapper {
    position   : absolute;
    bottom     : 0;
    width      : 100%;
    text-align : right;
    opacity    : 0;
    transition : all 0.4s ease;
}

.animate .panel-wrapper .circle-panel-wrapper .modal-wrapper {
    bottom           : 10%;
    opacity          : 1;
    transition-delay : 2.3s;
}

.product-control .panel-wrapper .circle-panel-wrapper .modal-wrapper .panel-modal {
    width        : 28%;
    margin-right : 27%;
}

.product-control .panel-wrapper .circle-panel-wrapper .pointer-wrapper {
    position        : absolute;
    bottom          : -8%;
    width           : 100%;
    height          : auto;
    display         : flex;
    align-items     : center;
    justify-content : center;
    /*opacity         : 0;*/
    /*transition      : all 0.8s ease;*/
}

.animate .panel-wrapper .circle-panel-wrapper .pointer-wrapper {
    /*bottom           : -8%;*/
    /*opacity          : 1;*/
    /*transition-delay : .9s;*/
}

.product-control .panel-wrapper .circle-panel-wrapper .pointer-wrapper .pointer-inner-wrapper {
    position : absolute;
    bottom   : 0;
    width    : 8%;
    left     : 46%;
}

.product-control .panel-wrapper .circle-panel-wrapper .pointer-wrapper .circle-gray {
    width : 100%;
}

.product-control .panel-wrapper .circle-panel-wrapper .pointer-wrapper .circle-red-wrapper {
    position : absolute;
    width    : 100%;
    height   : 100%;
    top      : 0;
    left     : 0;
}

.product-control .panel-wrapper .circle-panel-wrapper .pointer-wrapper .circle-red {
    z-index  : 1;
    position : absolute;
    left     : 25%;
    top      : 25%;
    width    : 50%;
}

.product-control .panel-wrapper .circle-panel-wrapper .pointer-wrapper .panel-pointer-wrapper {
    position : absolute;
    width    : 380%;
    height   : 100%;
    top      : 0;
}

.product-control .panel-wrapper .circle-panel-wrapper .pointer-wrapper .panel-pointer {
    position         : absolute;
    top              : 23%;
    left             : 9%;
    width            : 100%;
    transform-origin : 5% 60%;
    transform        : rotate(369deg);
    -webkit-transition : all 1s ease;
    transition         : all 1s ease;
}

.animate .panel-wrapper .circle-panel-wrapper .pointer-wrapper .panel-pointer {
    /*animation : theAnimation5 4s linear;*/
}

@-webkit-keyframes theAnimation5 {
    /*0% { -webkit-transform : matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }*/
    /*0% { -webkit-transform : matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }*/
    0% { -webkit-transform : rotate(184deg); }
    50.1% { -webkit-transform : matrix3d(-0.997, -0.074, 0, 0, 0.065, -0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(-0.997, -0.074, 0, 0, 0.065, -0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    51.6% { -webkit-transform : matrix3d(-0.471, -0.887, 0, 0, 0.785, -0.627, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(-0.471, -0.887, 0, 0, 0.785, -0.627, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.8% { -webkit-transform : matrix3d(0.356, -0.941, 0, 0, 0.998, 0.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.356, -0.941, 0, 0, 0.998, 0.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    53.2% { -webkit-transform : matrix3d(0.558, -0.838, 0, 0, 0.943, 0.351, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.558, -0.838, 0, 0, 0.943, 0.351, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    54.3% { -webkit-transform : matrix3d(0.938, -0.364, 0, 0, 0.557, 0.838, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.938, -0.364, 0, 0, 0.557, 0.838, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    55.6% { -webkit-transform : matrix3d(0.974, 0.244, 0, 0, -0.069, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.974, 0.244, 0, 0, -0.069, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    56.4% { -webkit-transform : matrix3d(1.002, -0.03, 0, 0, 0.178, 0.987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(1.002, -0.03, 0, 0, 0.178, 0.987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    57.5% { -webkit-transform : matrix3d(0.95, -0.317, 0, 0, 0.416, 0.911, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.95, -0.317, 0, 0, 0.416, 0.911, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    59.4% { -webkit-transform : matrix3d(0.876, -0.482, 0, 0, 0.525, 0.851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.876, -0.482, 0, 0, 0.525, 0.851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    59.5% { -webkit-transform : matrix3d(0.876, -0.483, 0, 0, 0.524, 0.852, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.876, -0.483, 0, 0, 0.524, 0.852, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    62.6% { -webkit-transform : matrix3d(0.96, -0.278, 0, 0, 0.277, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.96, -0.278, 0, 0, 0.277, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    64.1% { -webkit-transform : matrix3d(0.974, -0.227, 0, 0, 0.223, 0.975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.974, -0.227, 0, 0, 0.223, 0.975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    65.7% { -webkit-transform : matrix3d(0.998, 0.068, 0, 0, -0.079, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.998, 0.068, 0, 0, -0.079, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    66.7% { -webkit-transform : matrix3d(0.988, 0.151, 0, 0, -0.162, 0.987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.988, 0.151, 0, 0, -0.162, 0.987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    70.6% { -webkit-transform : matrix3d(1, 0.028, 0, 0, -0.033, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(1, 0.028, 0, 0, -0.033, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    77.9% { -webkit-transform : matrix3d(0.988, 0.156, 0, 0, -0.156, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.988, 0.156, 0, 0, -0.156, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    78.2% { -webkit-transform : matrix3d(0.988, 0.152, 0, 0, -0.151, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.988, 0.152, 0, 0, -0.151, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    82.7% { -webkit-transform : matrix3d(0.991, 0.133, 0, 0, -0.133, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.991, 0.133, 0, 0, -0.133, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    89% { -webkit-transform : matrix3d(0.988, 0.156, 0, 0, -0.156, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.988, 0.156, 0, 0, -0.156, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    90.7% { -webkit-transform : matrix3d(0.988, 0.153, 0, 0, -0.153, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.988, 0.153, 0, 0, -0.153, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    92.8% { -webkit-transform : matrix3d(0.988, 0.152, 0, 0, -0.152, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.988, 0.152, 0, 0, -0.152, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    99.9% { -webkit-transform : matrix3d(0.988, 0.156, 0, 0, -0.156, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.988, 0.156, 0, 0, -0.156, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform : matrix3d(0.988, 0.156, 0, 0, -0.156, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform : matrix3d(0.988, 0.156, 0, 0, -0.156, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@-webkit-keyframes panel-pointer-rotate {
    0% {
        -webkit-transform : rotate(184deg);
    }
    62% {
        -webkit-transform : rotate(184deg);
    }
    73% {
        -webkit-transform : rotate(360deg);
    }
    100% {
        -webkit-transform : rotate(369deg);
    }

}

@media (max-width : 1365px) {

    .product-control .control-sub-title-wrapper {
        width : 600px;
    }

    .product-control .panel-wrapper {
        width : 600px;
    }

}

@media (max-width : 768px) {
    .product-control .sub-title {
        margin-top : 10px;
        width      : 290px;
    }

    .product-control .control-sub-title-wrapper {
        margin-top : 18px;
    }

    .product-control .panel-wrapper {
        margin-top : 50px;
        width      : 420px;
    }

    .product-control .panel-wrapper .circle-panel-wrapper .modal-wrapper .panel-modal {
        width        : 40%;
        margin-right : 15%;
    }

    .product-control .control-sub-title-wrapper .control-sub-title img {
        margin-left : 0;
    }

    .product-control .control-sub-title-wrapper .control-sub-title {
        margin-right : 6px;
    }
}

@media (max-width : 460px) {
    .product-control .panel-wrapper {
        width : 290px;
    }

    .product-control .control-sub-title-wrapper {
        width : 290px;
    }
}

/* 产品-费用控制 end */
/* 产品-第三方导入 start */
.product-import {
    padding-top        : 80px;
    text-align         : center;
    overflow           : hidden;
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : center;
    height             : auto;
    background         : url(../img/product/product-import-bg.png) no-repeat;
    -webkit-transition : all .4s ease;
    transition         : all .4s ease;
}

.product-import .import-title {
    transform          : translateY(300%);
    opacity            : 0;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.animate .import-title {
    transform : translateY(0);
    opacity   : 1;
}

.product-import .sub-title {
    margin-top : 25px;
    transform  : translateY(300%);
    opacity    : 0;
    transition : all .8s ease;
}

.animate .sub-title {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : 0.2s;
}

.product-import .import-wrapper {
    position           : relative;
    margin-top         : 60px;
    width              : 700px;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.product-import .import-wrapper .import-phone {
    float         : right;
    margin-bottom : -2px;
    width         : 40%;
    transform     : translateY(100%);
    opacity       : 0;
    transition    : all .6s ease;
}

.animate .import-wrapper .import-phone {
    transform        : translateY(0);
    opacity          : 1;
    top              : 0;
    transition-delay : 0.4s;
}

.product-import .import-wrapper .phone-shadow {
    position           : absolute;
    width              : 87%;
    right              : 3.7%;
    bottom             : 2.6%;
    opacity            : 0;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.animate .import-wrapper .phone-shadow {
    opacity                  : 1;
    transition-delay         : 1s;
    -webkit-transition-delay : 1s;
}

.product-import .import-wrapper .ctrip-modal {
    position           : absolute;
    left               : 10%;
    top                : 10%;
    width              : 70%;
    opacity            : 0;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.animate .import-wrapper .ctrip-modal {
    left                     : 0;
    opacity                  : 1;
    transition-delay         : 1s;
    -webkit-transition-delay : 1s;
}

.product-import .import-wrapper .surport-wrapper {
    position           : absolute;
    bottom             : -10%;
    left               : 0;
    width              : 35%;
    opacity            : 0;
    text-align         : left;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.animate .import-wrapper .surport-wrapper {
    bottom                   : 8%;
    opacity                  : 1;
    transition-delay         : 1.2s;
    -webkit-transition-delay : 1.2s;
}

.product-import .import-wrapper .surport-wrapper .surport-img {
    width : 100%;
}

@media (max-width : 1365px) {
    .product-import .import-wrapper {
        width : 500px;
    }
}

@media (max-width : 768px) {
    .product-import .import-wrapper {
        margin-top : 50px;
        width      : 420px;
    }

    .product-import .sub-title {
        margin-top : 10px;
    }
}

@media (max-width : 460px) {

    .product-import .import-wrapper {
        width : 290px;
    }
}

/* 产品-第三方导入 end */
/* 产品-报销自定义 start */
.product-custom {
    padding-top        : 80px;
    text-align         : center;
    overflow           : hidden;
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : center;
    height             : auto;
    background         : url(../img/product/product-custom-bg.png) no-repeat center;
    background-size    : 100% 100%;
    -webkit-transition : all .4s ease;
    transition         : all .4s ease;
}

.product-custom .custom-title {
    transform  : translateY(300%);
    opacity    : 0;
    transition : all .8s ease;
}

.animate .custom-title {
    transform : translateY(0);
    opacity   : 1;
}

.product-custom .full-line {
    display : block;
}

.product-custom .break-line {
    display : none;
}

.product-custom .break-line .mt-0 {
    margin-top : 0;
}

.product-custom .sub-title {
    opacity            : 0;
    transform          : translateY(300%);
    margin-top         : 25px;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.animate .sub-title {
    transform                : translateY(0);
    opacity                  : 1;
    transition-delay         : .2s;
    -webkit-transition-delay : .2s;
}

.product-custom .custom-btn-wrapper {
    margin-top         : 25px;
    display            : flex;
    flex-direction     : row;
    transform          : translateY(300%);
    opacity            : 0;
    align-items        : center;
    justify-content    : center;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.animate .custom-btn-wrapper {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : .4s;
}

.product-custom .custom-btn-wrapper .custom-btn {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    cursor          : pointer;
    width           : 180px;
    border-right    : 1px #516994 solid;
    transition      : all .8s ease;
}

.product-custom .custom-btn-wrapper .custom-btn:last-child {
    border : none;
}

.product-custom .custom-btn-wrapper .custom-btn img {
    margin-top    : 5px;
    margin-bottom : 5px;
    height        : 25px;
}

.product-custom .custom-btn-wrapper #custom-btn-project img {
    margin-top    : 9px;
    margin-bottom : 9px;
    height        : 17px;
}

.product-custom .custom-pic-wrapper {
    position   : relative;
    margin-top : 60px;
    width      : 900px;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .custom-pic-wrapper {
    opacity                  : 1;
    transition-delay         : .6s;
    -webkit-transition-delay : .6s;
}

.product-custom .custom-pic-wrapper img {
    width   : 100%;
    opacity : 0;
}

.product-custom .custom-pic-wrapper #custom-pic-fee,
.product-custom .custom-pic-wrapper #custom-pic-template {
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    bottom   : 0;
    opacity  : 1;
}

@media (max-width : 1365px) {
    .product-custom .custom-pic-wrapper {
        width : 600px;
    }
}

@media (max-width : 768px) {

    .product-custom .sub-title {
        margin-top : 10px;
        width      : 290px;
    }

    .product-custom .break-line {
        display : block;
    }

    .product-custom .full-line {
        display : none;
    }

    .product-custom .custom-btn-wrapper {
        margin-top : 18px;
    }

    .product-custom .custom-btn-wrapper .custom-btn {
        border : none;
        width  : 150px;
    }

    .product-custom .custom-pic-wrapper {
        margin-top : 50px;
        width      : 420px;
    }

}

@media (max-width : 460px) {
    .product-custom .custom-pic-wrapper {
        width : 290px;
    }

    .product-custom .custom-btn-wrapper .custom-btn {
        width : 100px;
    }
}

/* 产品-报销自定义 end */
/* 产品-报表 start */
.product-statement {
    padding-top        : 80px;
    text-align         : center;
    overflow           : hidden;
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : center;
    height             : auto;
    background         : url(../img/product/product-import-bg.png) no-repeat;
    -webkit-transition : all .4s ease;
    transition         : all .4s ease;
}

.product-statement .statement-title {
    transform          : translateY(300%);
    opacity            : 0;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.animate .statement-title {
    transform : translateY(0);
    opacity   : 1;
}

.product-statement .sub-title {
    margin-top : 25px;
    transform  : translateY(300%);
    opacity    : 0;
    transition : all .8s ease;
}

.animate .sub-title {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : .2s;
}

.product-statement .statement-distance-control {
    margin-bottom : 3%;
    transform     : translateY(300%);
    opacity       : 0;
    transition    : all .8s ease;
}

.animate .statement-distance-control {
    transform                : translateY(0);
    opacity                  : 1;
    transition-delay         : .4s;
    -webkit-transition-delay : .4s;
}

.product-statement .statement-wrapper {
    position           : relative;
    margin-top         : 60px;
    transform          : translateY(100%);
    margin-bottom      : 100px;
    width              : 900px;
    opacity            : 0;
    -webkit-transition : all 1s ease;
    transition         : all 1s ease;
}

.animate .statement-wrapper {
    transform                : translateY(0);
    opacity                  : 1;
    transition-delay         : .6s;
    -webkit-transition-delay : .6s;
}

.product-statement .statement-wrapper .table-bottom {
    width : 100%;
}

.product-statement .statement-wrapper .table-bottom-point {
    position           : absolute;
    top                : 67%;
    left               : 51%;
    width              : 3%;
    opacity            : 0;
    -webkit-transition : all .4s ease;
    transition         : all .4s ease;
}

.animate .statement-wrapper .table-bottom-point {
    opacity                  : 1;
    transition-delay         : 1.4s;
    -webkit-transition-delay : 1.4s;
}

.product-statement .statement-wrapper .table-bottom-line {
    position           : absolute;
    width              : 5%;
    top                : 43%;
    left               : 51%;
    opacity            : 0;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.animate .statement-wrapper .table-bottom-line {
    opacity                  : 1;
    transition-delay         : 1.8s;
    -webkit-transition-delay : 1.8s;
}

.product-statement .statement-wrapper .table-center {
    width              : 60%;
    position           : absolute;
    top                : 18%;
    left               : 30%;
    opacity            : 0;
    -webkit-transition : all .4s ease;
    transition         : all .4s ease;
}

.animate .statement-wrapper .table-center {
    top                      : 5%;
    left                     : 30%;
    opacity                  : 1;
    transition-delay         : 2.2s;
    -webkit-transition-delay : 2.2s;
}

.product-statement .statement-wrapper .table-center-point {
    position           : absolute;
    top                : 37%;
    left               : 64%;
    width              : 3%;
    opacity            : 0;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.animate .statement-wrapper .table-center-point {
    opacity                  : 1;
    transition-delay         : 2.8s;
    -webkit-transition-delay : 2.8s;
}

.product-statement .statement-wrapper .table-center-line {
    position           : absolute;
    width              : 5%;
    top                : 13%;
    left               : 64%;
    opacity            : 0;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.animate .statement-wrapper .table-center-line {
    opacity                  : 1;
    transition-delay         : 3.2s;
    -webkit-transition-delay : 3.2s;
}

.product-statement .statement-wrapper .table-top {
    position           : absolute;
    width              : 38%;
    top                : 0%;
    left               : 60%;
    opacity            : 0;
    -webkit-transition : all .4s ease;
    transition         : all .4s ease;
}

.animate .statement-wrapper .table-top {
    top                      : -8%;
    left                     : 60%;
    opacity                  : 1;
    transition-delay         : 3.6s;
    -webkit-transition-delay : 3.6s;
}

@media (max-width : 1365px) {
    .product-statement .statement-wrapper {
        width : 600px;
    }

    .product-statement .statement-distance-control {
        width : 600px;
    }
}

@media (max-width : 768px) {

    .product-statement .sub-title {
        margin-top : 10px;
    }

    .product-statement .statement-wrapper {
        margin-top    : 50px;
        margin-bottom : 50px;
        width         : 420px;
    }

    .product-statement .statement-distance-control {
        width : 420px;
    }
}

@media (max-width : 460px) {

    .product-statement .sub-title {
        width : 210px;
    }

    .product-statement .statement-wrapper {
        width : 290px;
    }

    .product-statement .statement-distance-control {
        width : 290px;
    }
}

/* 产品-报表 end */
/* 产品-一站式服务 start */
.product-service {
    text-align      : center;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    height          : auto;
    background      : url(../img/product/product-service-bg.png) no-repeat center;
}

.product-service .service-wrapper {
    padding-top        : 80px;
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : center;
    height             : auto;
    width              : 900px;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.product-service .service-wrapper .service-title {
    transform  : translateY(300%);
    opacity    : 0;
    transition : all .8s ease;
}

.animate .service-wrapper .service-title {
    transform : translateY(0);
    opacity   : 1;
}

.product-service .service-wrapper .sub-title {
    transform  : translateY(400%);
    margin-top : 25px;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .service-wrapper .sub-title {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : .2s;
}

.product-service .service-wrapper p {
    width      : 100%;
    text-align : left;
}

.product-service .service-wrapper .service-inner-wrapper {
    position      : relative;
    width         : 700px;
    margin-top    : 60px;
    margin-bottom : 100px;
    transform     : translateY(30%);
    opacity       : 0;
    transition    : all .8s ease;
}

.animate .service-wrapper .service-inner-wrapper {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : .4s;
}

.product-service .service-wrapper .service-inner-wrapper .product-line-break {
    display    : block;
    margin-top : 6px;
    transform  : translateY(100%);
    opacity    : 0;
    transition : all .8s ease;
}

.animate .service-wrapper .service-inner-wrapper .product-line-break {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : 1.2s;
}

.product-service .service-wrapper .service-inner-wrapper .service-border {
    width : 100%
}

.product-service .service-wrapper .service-inner-wrapper .service-expense {
    position : absolute;
    top      : 16%;
    left     : 10%;
    width    : 20%
}

.product-service .service-wrapper .service-inner-wrapper .service-arrow {
    position : absolute;
    top      : 16%;
    left     : 30%;
    width    : 8.2%;
}

.product-service .service-wrapper .service-inner-wrapper .service-bill {
    position : absolute;
    top      : 16%;
    left     : 38.2%;
    width    : 45%;
}

.product-service .service-wrapper .service-inner-wrapper .service-success {
    position : absolute;
    top      : 5%;
    right    : 7%;
    width    : 15%;
}

.product-service .service-wrapper .service-inner-wrapper p {
    transform  : translateY(100%);
    opacity    : 0;
    transition : all .8s ease;
}

.animate .service-wrapper .service-inner-wrapper p {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : .8s;
}

.animate .service-wrapper .service-inner-wrapper p:last-child {
    transition-delay : 1s;
}

@media (min-width : 1365px) {
    .product-service {
        background-size : 100% 100%;
    }

    .product-service .service-wrapper .service-inner-wrapper {
        width : 800px;
    }
}

@media (max-width : 1365px) {
    .product-service .service-wrapper {
        width : 600px;
    }

    .product-service .service-wrapper .service-inner-wrapper {
        width : 500px;
    }
}

@media (max-width : 768px) {
    .product-service .service-wrapper {
        width : 420px;
    }

    .product-service .service-wrapper .service-inner-wrapper {
        margin-top    : 50px;
        margin-bottom : 50px;
        width         : 420px;
    }

    .product-service .service-wrapper .sub-title {
        margin-top : 10px;
    }

}

@media (max-width : 460px) {
    .product-service .service-wrapper {
        align-items : flex-start;
        width       : 290px;
    }

    .product-service .service-wrapper p:first-child {
        width : 265px;
    }

    .product-service .service-wrapper .service-inner-wrapper {
        width : 290px;
    }
}

/* 产品-一站式服务 end */
/* 产品-商城 start */
.product-mall {
    padding-top        : 80px;
    text-align         : center;
    overflow           : hidden;
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : center;
    height             : auto;
    -webkit-transition : all .4s ease;
    transition         : all .4s ease;
}

.product-mall .mall-wrapper {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    width           : 900px;
    text-align      : left;
    margin-bottom   : 100px;
}

.product-mall .mall-wrapper .mall-title {
    transform  : translateY(300%);
    opacity    : 0;
    transition : all .8s ease;
}

.animate .mall-wrapper .mall-title {
    transform : translateY(0);
    opacity   : 1;
}

.product-mall .mall-wrapper .sub-title {
    margin-top : 25px;
    transform  : translateY(400%);
    opacity    : 0;
    transition : all .8s ease;
}

.animate .mall-wrapper .sub-title {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : .2s;
}

.product-mall .mall-wrapper p {
    width : 100%;
}

.product-mall .mall-wrapper .mall-inner-wrapper {
    position        : relative;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;
    width           : 800px;
    text-align      : left;
    margin-top      : -4%;
}

.product-mall .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper {
    width : 50%;
}

.product-mall .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box {
    position           : relative;
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    justify-content    : center;
    text-align         : center;
    float              : left;
    width              : 50%;
    padding            : 5%;
    margin-bottom      : -30px;
    margin-top         : 30px;
    opacity            : 0;
    -webkit-transition : all .8s ease;
    transition         : all .8s ease;
}

.animate .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box:nth-child(1) {
    margin-bottom            : 0;
    margin-top               : 0;
    opacity                  : 1;
    transition-delay         : .4s;
    -webkit-transition-delay : .4s;
}

.animate .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box:nth-child(2) {
    margin-bottom            : 0;
    margin-top               : 0;
    opacity                  : 1;
    transition-delay         : .6s;
    -webkit-transition-delay : .6s;
}

.animate .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box:nth-child(3) {
    margin-bottom            : 0;
    margin-top               : 0;
    opacity                  : 1;
    transition-delay         : .8s;
    -webkit-transition-delay : .8s;
}

.animate .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box:nth-child(4) {
    margin-bottom            : 0;
    margin-top               : 0;
    opacity                  : 1;
    transition-delay         : 1s;
    -webkit-transition-delay : 1s;
}

.product-mall .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box img {
    width         : 30%;
    margin-bottom : 3%;
}

.product-mall .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box p {
    font-size : 12px;
}

.product-mall .mall-wrapper .mall-inner-wrapper .mall-phone-wrapper {
    display        : flex;
    position       : relative;
    flex-direction : row;
    align-items    : center;
    width          : 49%;
}

.product-mall .mall-wrapper .mall-inner-wrapper .mall-phone-wrapper .mall-iconPhone {
    transform  : translateY(100%);
    width      : 100%;
    opacity    : 0;
    transition : all .8s ease;
}

.animate .mall-wrapper .mall-inner-wrapper .mall-phone-wrapper .mall-iconPhone {
    transform        : translateY(0);
    opacity          : 1;
    transition-delay : 1.7s;
}

/*.product-mall .mall-wrapper .mall-inner-wrapper .mall-phone-wrapper img {*/
/*width : 100%;*/
/*}*/
/*.product-mall .mall-wrapper .mall-inner-wrapper .mall-phone-wrapper .mall-phone {*/
/*width : 68%;*/
/*}*/
/*.product-mall .mall-wrapper .mall-inner-wrapper .mall-phone-wrapper .mall-phone-icon {*/
/*width        : 32%;*/
/*margin-right : 1%;*/
/*}*/
@media (max-width : 1365px) {
    .product-mall .mall-wrapper {
        width : 600px;
    }

    .product-mall .mall-wrapper .mall-inner-wrapper {
        width : 600px;
    }
}

@media (max-width : 768px) {
    .product-mall .mall-wrapper {
        margin-bottom : 50px;
        width         : 450px;
    }

    .product-mall .mall-wrapper .sub-title {
        margin-top : 10px;
    }

    .product-mall .mall-wrapper .mall-inner-wrapper {
        margin-top     : 50px;
        flex-direction : column;
        width          : 100%;
    }

    .product-mall .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper {
        width : 100%;
    }

    .product-mall .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box {
        align-items : flex-start;
        padding     : 4% 4% 0 0;
    }

    .product-mall .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box:nth-child(-n+2) {
        align-items : flex-start;
        padding     : 0% 4% 4% 0;
    }

    .product-mall .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box img {
        width : 25%;
    }

    .product-mall .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box p {
        text-align : left;
        font-size  : 16px;
    }

    .product-mall .mall-wrapper .mall-inner-wrapper .mall-phone-wrapper {
        display : none;
    }
}

@media (max-width : 460px) {
    .product-mall .mall-wrapper {
        width : 290px;
    }

    .product-mall .mall-wrapper .mall-inner-wrapper {
        width : 290px;
    }

    .product-mall .mall-wrapper .mall-inner-wrapper .mall-tag-wrapper .mall-tag-box p {
        text-align : left;
        font-size  : 12px;
    }
}

/* 产品-商城 end */